body{
font-family:Open Sans, sans-serif;
text-align: center;
}
.title-section {
  margin-bottom: 65px;
  text-align: left;
}
.title-section h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title-section h1 span {
  color: #EDA48D;
  text-align:center;

}
.title-section > span {
  width: 130px;
  display: inline-block;
  height: 1px;
  border-top: 1px dotted #dddddd;
  position: relative;
  margin: 0 0 20px;
}
.title-section > span:before {
  content: '';
  position: absolute;
  width: 47px;
  height: 7px;
  left: 50%;
  margin-left: -24px;
  top: -4px;
}
.title-section.white h1 {
  color: #ffffff;
}
folio-section {
  padding: 60px 0 0;
  text-align: center;
}
#portfolio-section .title-section {
  margin-bottom: 55px;
}
#portfolio-section ul.filter {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  text-align: left;
}
#portfolio-section ul.filter li {
  display: inline-block;
  margin: 0 0 4px;
}
#portfolio-section ul.filter li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #999999;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 7px 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#portfolio-section ul.filter li a:hover,
#portfolio-section ul.filter li a.active {
  color: #008ED6;
  border: 2px solid #008ED6;
}
#portfolio-section .show-more {
  padding-top: 40px;
}
#portfolio-section .show-more a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#portfolio-section .portfolio-box .project-post {
  padding-right: 1px;
  padding-bottom: 1px;
}
#portfolio-section .portfolio-box .project-post .hover-box {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: auto;
  height: inherit;
  border: 10px solid rgba(255, 255, 255, 0.8);
  background: rgba(51, 51, 51, 0.5);
}
#portfolio-section .portfolio-box .project-post .hover-box a.link {
  display: block;
  width: 100%;
  left: 0;
  margin-left: 0;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.8px;
}
#portfolio-section .portfolio-box .project-post .hover-box a.link:hover {
  opacity: 0.7;
}
.portfolio-box .project-post {
  width: 25%;
  position: relative;
}
.portfolio-box .project-post img {
  width: 100%;
}
.portfolio-box .project-post .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.portfolio-box .project-post .hover-box .inner-hover {
  position: absolute;
  width: 100%;
  bottom: 52px;
  left: 0;
}
.portfolio-box .project-post .hover-box .inner-hover h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  color: #008ED6;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 3px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transform: translate3d(0, 400%, 0);
  -moz-transform: translate3d(0, 400%, 0);
  -o-transform: translate3d(0, 400%, 0);
  transform: translate3d(0, 400%, 0);
}
.portfolio-box .project-post .hover-box .inner-hover p {
  color: #999999;
  margin-bottom: 0;
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transform: translate3d(0, 400%, 0);
  -moz-transform: translate3d(0, 400%, 0);
  -o-transform: translate3d(0, 400%, 0);
  transform: translate3d(0, 400%, 0);
}
.portfolio-box .project-post .hover-box a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin: 0 5px;
  -webkit-transform: translate3d(0, -400%, 0);
  -moz-transform: translate3d(0, -400%, 0);
  -o-transform: translate3d(0, -400%, 0);
  transform: translate3d(0, -400%, 0);
  outline: none;
}
.portfolio-box .project-post .hover-box a i {
  font-size: 24px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.portfolio-box .project-post .hover-box a.link {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  margin-left: 10px;
}
.portfolio-box .project-post .hover-box a.zoom {
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  margin-left: -30px;
}
.portfolio-box .project-post .hover-box a:hover i {
  color: #008ED6;
}
.portfolio-box .project-post:hover .hover-box {
  opacity: 1;
}
.portfolio-box .project-post:hover .hover-box .inner-hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.portfolio-box .project-post:hover .hover-box .inner-hover p {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.portfolio-box .project-post:hover .hover-box a {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
